.hide{
    display: none;
}
body{
    margin: 0; 
    padding: 20px; 
    width: 100%;
    height: 100%;
    overflow:hidden;

}
.main{
    height: 100%;
    width: 100%;
    background: #fff;
    display: flex;
    flex-direction: column;
}


/* New order section */

.newOrderPopUp{
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: #0000003f;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
}

.newOrderFeatureContainer{
    margin: 20px;
    width: 80%;
    height: 80%;
    display: flex;
    flex-direction: column;
     min-height: 0;
     border-bottom: 1px solid #ccc;
     background: #fff;
}

.newOrderForm{
    width: 100%;
    height: 80%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    min-height: 0;
}

.orderPrimaryInfoSection{
    width: 20%;
    height: 100%;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items:flex-start;
    justify-content: space-evenly;
    

}

.orderTypeSelectionGroup{
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-evenly;
}

.orderTypeSelection_container{
    display: flex;
    width: 100%;
    gap: 10px ;
}

.clientNameInputGroup{
    height: 10%;
    display: flex;
    width: 100%;
    display: flex;
    background: red;
}

.clientNameInputGroup > input{
    width: 100%;
    height: 100%;
    padding-left: 10px;
}

/* Table */
.tableSelectionGroup{
    display: flex;
    width: 100%;
    height: 6%;
    gap: 10px;
    justify-content: flex-start;
    align-items: center;
}

.tableSelectionGroup select{
    height: 100%;
    width: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.productSelectionSection{
    width: 80%;
    height: 100%;
    display: flex;
    flex-direction: column;
    min-height: 0;
}
.productSearchBar {
    height: 40px;
    flex-shrink: 0;
    display: flex;
    align-items: center;
    padding: 0 10px;
}
.productSearchBar input {
    flex-grow: 1;
    border: 1px solid #ccc;
    padding: 5px;
    margin-left: 5px;
}

.productListContainer{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, auto);
    flex-grow: 1;
    min-height: 0;
    overflow-y: auto;
    flex-wrap: wrap;
    gap: 10px;
    padding: 10px;
    align-items: flex-start; 
}


.productSearchContainer { 
    width: 100%;
    height: 150px;
    border: 1px solid #eee;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;

}

.productSearchButtons{
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.productSearchBTN{
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border: 1px solid #cccccc;
}



.formActionsContainer{
    width: 100%;
    height: 20%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    gap: 20px;
    padding-right: 20px;
    border-top: 1px solid #dee2e6;


}

.actionButton {
    padding: 8px 15px;
    border: 1px solid #ccc;
    cursor: pointer;
}

/* Table */
.ActiveOrdersContainer{
    width: 100%;
    flex-grow: 1;   
    flex-basis: 0;   
    min-height: 0;   
    display: flex;
    flex-direction: column;
}



.tableHeadersContainer{
    width: 100%;
    height: 40px;
    flex-shrink: 0;
    padding: 0 10px;
    margin: 0;
    display: flex;
    align-items: center;
    border-bottom: 1px solid #dee2e6;
    
}

.tableHeader {
    flex: 1;             
    text-align: center;   
    padding: 0 5px;     
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.rowsContainer{
    width: 100%;
    height: 90%;
    flex-grow: 1;
    flex-basis: 0;

    overflow-y: auto;
    min-height: 0;
    
}

.row{
    width: 100%;
    flex-shrink: 0;
    min-height: 30px;
    display: flex;
    align-items: center;
 border-bottom: 1px solid #f1f1f1;
padding: 0 10px; 
}
.row:last-child {
    border-bottom: none; 
}

.row p {
    flex: 1;            
    padding: 10px 8px;    
    text-align: center;   
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;  
}